<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyenno.ruiyun.datamigration.mapper.util.TableIdMapper">
    <select id="getTableId" resultType="java.lang.Integer">
        select ifnull(max(id),0) +1 from ${tableName}
    </select>
</mapper>
