<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyenno.ruiyun.datamigration.mapper.patient.PatientPhytheAssessMapper">
  <resultMap id="BaseResultMap" type="com.gyenno.ruiyun.datamigration.model.patient.PatientPhytheAssess">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="RECORD_DATE" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="SITUATION_TYPE" jdbcType="INTEGER" property="situationType" />
    <result column="LEFT_THRESHOLD" jdbcType="VARCHAR" property="leftThreshold" />
    <result column="RIGHT_THRESHOLD" jdbcType="VARCHAR" property="rightThreshold" />
    <result column="SITUATION_REMARK" jdbcType="VARCHAR" property="situationRemark" />
    <result column="REACTION_FLAG" jdbcType="TINYINT" property="reactionFlag" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PATIENT_CASE_ID" jdbcType="VARCHAR" property="patientCaseId" />
    <result column="PATIENT_ID" jdbcType="INTEGER" property="patientId" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, RECORD_DATE, SITUATION_TYPE, LEFT_THRESHOLD, RIGHT_THRESHOLD, SITUATION_REMARK,
    REACTION_FLAG, REMARK, PATIENT_CASE_ID, PATIENT_ID, CREATE_BY, CREATE_DATE, CREATE_NAME,
    UPDATE_BY, UPDATE_DATE, UPDATE_NAME
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tc_patient_phythe_assess
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientPhytheAssess">
    insert into tc_patient_phythe_assess (ID, RECORD_DATE, SITUATION_TYPE,
      LEFT_THRESHOLD, RIGHT_THRESHOLD, SITUATION_REMARK,
      REACTION_FLAG, REMARK, PATIENT_CASE_ID,
      PATIENT_ID, CREATE_BY, CREATE_DATE,
      CREATE_NAME, UPDATE_BY, UPDATE_DATE,
      UPDATE_NAME)
    values (#{id,jdbcType=INTEGER}, #{recordDate,jdbcType=TIMESTAMP}, #{situationType,jdbcType=INTEGER},
      #{leftThreshold,jdbcType=VARCHAR}, #{rightThreshold,jdbcType=VARCHAR}, #{situationRemark,jdbcType=VARCHAR},
      #{reactionFlag,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{patientCaseId,jdbcType=VARCHAR},
      #{patientId,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{createName,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{updateName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientPhytheAssess">
    insert into tc_patient_phythe_assess
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="recordDate != null">
        RECORD_DATE,
      </if>
      <if test="situationType != null">
        SITUATION_TYPE,
      </if>
      <if test="leftThreshold != null">
        LEFT_THRESHOLD,
      </if>
      <if test="rightThreshold != null">
        RIGHT_THRESHOLD,
      </if>
      <if test="situationRemark != null">
        SITUATION_REMARK,
      </if>
      <if test="reactionFlag != null">
        REACTION_FLAG,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="patientCaseId != null">
        PATIENT_CASE_ID,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateName != null">
        UPDATE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="situationType != null">
        #{situationType,jdbcType=INTEGER},
      </if>
      <if test="leftThreshold != null">
        #{leftThreshold,jdbcType=VARCHAR},
      </if>
      <if test="rightThreshold != null">
        #{rightThreshold,jdbcType=VARCHAR},
      </if>
      <if test="situationRemark != null">
        #{situationRemark,jdbcType=VARCHAR},
      </if>
      <if test="reactionFlag != null">
        #{reactionFlag,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="patientCaseId != null">
        #{patientCaseId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>
