<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyenno.ruiyun.datamigration.mapper.patient.PatientFWavStuMapper">
  <resultMap id="BaseResultMap" type="com.gyenno.ruiyun.datamigration.model.patient.PatientFWavStu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="F_WAV_STU_ID" jdbcType="VARCHAR" property="fWavStuId" />
    <result column="P_CASE_ID" jdbcType="VARCHAR" property="pCaseId" />
    <result column="P_INFO_ID" jdbcType="INTEGER" property="pInfoId" />
    <result column="REMARKS" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, CREATE_BY, CREATE_DATE, CREATE_NAME, UPDATE_BY, UPDATE_DATE, UPDATE_NAME, F_WAV_STU_ID,
    P_CASE_ID, P_INFO_ID,REMARKS
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />

    from tc_patient_f_wav_stu
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientFWavStu">
    insert into tc_patient_f_wav_stu (ID, CREATE_BY, CREATE_DATE,
      CREATE_NAME, UPDATE_BY, UPDATE_DATE,
      UPDATE_NAME, F_WAV_STU_ID, P_CASE_ID,
      P_INFO_ID, REMARKS)
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{createName,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{updateName,jdbcType=VARCHAR}, #{fWavStuId,jdbcType=VARCHAR}, #{pCaseId,jdbcType=VARCHAR},
      #{pInfoId,jdbcType=INTEGER}, #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientFWavStu">
    insert into tc_patient_f_wav_stu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateName != null">
        UPDATE_NAME,
      </if>
      <if test="fWavStuId != null">
        F_WAV_STU_ID,
      </if>
      <if test="pCaseId != null">
        P_CASE_ID,
      </if>
      <if test="pInfoId != null">
        P_INFO_ID,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="fWavStuId != null">
        #{fWavStuId,jdbcType=VARCHAR},
      </if>
      <if test="pCaseId != null">
        #{pCaseId,jdbcType=VARCHAR},
      </if>
      <if test="pInfoId != null">
        #{pInfoId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>
