<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyenno.ruiyun.datamigration.mapper.patient.PatientVitalSignMapper">
  <resultMap id="BaseResultMap" type="com.gyenno.ruiyun.datamigration.model.patient.PatientVitalSign">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="PATIENT_CASE_ID" jdbcType="VARCHAR" property="patientCaseId" />
    <result column="PATIENT" jdbcType="INTEGER" property="patient" />
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="BREATHING" jdbcType="VARCHAR" property="breathing" />
    <result column="TEMPERATURE" jdbcType="VARCHAR" property="temperature" />
    <result column="PULSE" jdbcType="VARCHAR" property="pulse" />
    <result column="RHYTHM" jdbcType="TINYINT" property="rhythm" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <insert id="insert" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientVitalSign">
    insert into tc_patient_vital_sign (ID, CREATE_BY, CREATE_DATE,
          CREATE_NAME, UPDATE_BY, UPDATE_DATE,
          UPDATE_NAME, PATIENT_CASE_ID, PATIENT,
          CHECK_TIME, BREATHING, TEMPERATURE,
          PULSE, RHYTHM, REMARK
          )
    values
       (#{id,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{createName,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP},
      #{updateName,jdbcType=VARCHAR}, #{patientCaseId,jdbcType=VARCHAR}, #{patient,jdbcType=INTEGER},
      #{checkTime,jdbcType=TIMESTAMP}, #{breathing,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR},
      #{pulse,jdbcType=VARCHAR}, #{rhythm,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientVitalSign">
        insert into tc_patient_vital_sign
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
            ID,
          </if>
          <if test="createBy != null">
            CREATE_BY,
          </if>
          <if test="createDate != null">
            CREATE_DATE,
          </if>
          <if test="createName != null">
            CREATE_NAME,
          </if>
          <if test="updateBy != null">
            UPDATE_BY,
          </if>
          <if test="updateDate != null">
            UPDATE_DATE,
          </if>
          <if test="updateName != null">
            UPDATE_NAME,
          </if>
          <if test="patientCaseId != null">
            PATIENT_CASE_ID,
          </if>
          <if test="patient != null">
            PATIENT,
          </if>
          <if test="checkTime != null">
            CHECK_TIME,
          </if>
          <if test="breathing != null">
            BREATHING,
          </if>
          <if test="temperature != null">
            TEMPERATURE,
          </if>
          <if test="pulse != null">
            PULSE,
          </if>
          <if test="rhythm != null">
            RHYTHM,
          </if>
          <if test="remark != null">
            REMARK,
          </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="patientCaseId != null">
                #{patientCaseId,jdbcType=VARCHAR},
            </if>
            <if test="patient != null">
                #{patient,jdbcType=INTEGER},
            </if>
            <if test="checkTime != null">
                #{checkTime,jdbcType=TIMESTAMP},
            </if>
            <if test="breathing != null">
                #{breathing,jdbcType=VARCHAR},
            </if>
            <if test="temperature != null">
                #{temperature,jdbcType=VARCHAR},
            </if>
            <if test="pulse != null">
                #{pulse,jdbcType=VARCHAR},
            </if>
            <if test="rhythm != null">
                #{rhythm,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
  </insert>
</mapper>
