<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyenno.ruiyun.datamigration.mapper.patient.PatientScaleFileMapper">
  <resultMap id="BaseResultMap" type="com.gyenno.ruiyun.datamigration.model.patient.PatientScaleFile">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
    <result column="SIZE" jdbcType="INTEGER" property="size" />
    <result column="PATIENT_SCALE_ID" jdbcType="INTEGER" property="patientScaleId" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="PATIENT_ID" jdbcType="INTEGER" property="patientId" />
    <result column="PATIENT_CASE_ID" jdbcType="VARCHAR" property="patientCaseId" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, FILE_NAME, FILE_PATH, SIZE, PATIENT_SCALE_ID, CREATE_BY, CREATE_NAME, CREATE_DATE,
    UPDATE_BY, UPDATE_NAME, UPDATE_DATE, PATIENT_ID, PATIENT_CASE_ID
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tc_patient_scale_file
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientScaleFile">
    insert into tc_patient_scale_file (ID, FILE_NAME, FILE_PATH,
      SIZE, PATIENT_SCALE_ID, CREATE_BY,
      CREATE_NAME, CREATE_DATE, UPDATE_BY,
      UPDATE_NAME, UPDATE_DATE, PATIENT_ID,
      PATIENT_CASE_ID)
    values (#{id,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR},
      #{size,jdbcType=INTEGER}, #{patientScaleId,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR},
      #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{patientId,jdbcType=INTEGER},
      #{patientCaseId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientScaleFile">
    insert into tc_patient_scale_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="filePath != null">
        FILE_PATH,
      </if>
      <if test="size != null">
        SIZE,
      </if>
      <if test="patientScaleId != null">
        PATIENT_SCALE_ID,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateName != null">
        UPDATE_NAME,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="patientCaseId != null">
        PATIENT_CASE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="patientScaleId != null">
        #{patientScaleId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="patientCaseId != null">
        #{patientCaseId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>
