<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyenno.ruiyun.datamigration.mapper.patient.PatientBioexamMapper">
  <resultMap id="BaseResultMap" type="com.gyenno.ruiyun.datamigration.model.patient.PatientBioexam">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="CHECK_DATE" jdbcType="TIMESTAMP" property="checkDate" />
    <result column="BLOOD_CODE" jdbcType="VARCHAR" property="bloodCode" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_NAME" jdbcType="VARCHAR" property="updateName" />
    <result column="BIOEXAM_ID" jdbcType="INTEGER" property="bioexamId" />
    <result column="PATIENT_CASE_ID" jdbcType="VARCHAR" property="patientCaseId" />
    <result column="PATIENT_ID" jdbcType="INTEGER" property="patientId" />
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="is_gen_mutation_info" jdbcType="INTEGER" property="isGenMutationInfo" />
    <result column="sample_collection_flg" jdbcType="INTEGER" property="sampleCollectionFlg" />
    <result column="PROJECT_RESULTS" jdbcType="LONGVARCHAR" property="projectResults" />
    <result column="REMARKS" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, CREATE_BY, CREATE_DATE, CREATE_NAME, CHECK_DATE, BLOOD_CODE, UPDATE_BY, UPDATE_DATE,
    UPDATE_NAME, BIOEXAM_ID, PATIENT_CASE_ID, PATIENT_ID, file, is_gen_mutation_info,
    sample_collection_flg,PROJECT_RESULTS, REMARKS
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tc_patient_bioexam
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientBioexam">
    insert into tc_patient_bioexam (ID, CREATE_BY, CREATE_DATE,
      CREATE_NAME, CHECK_DATE, BLOOD_CODE,
      UPDATE_BY, UPDATE_DATE, UPDATE_NAME,
      BIOEXAM_ID, PATIENT_CASE_ID, PATIENT_ID,
      file, is_gen_mutation_info, sample_collection_flg,
      PROJECT_RESULTS, REMARKS)
    values (#{id,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{createName,jdbcType=VARCHAR}, #{checkDate,jdbcType=TIMESTAMP}, #{bloodCode,jdbcType=VARCHAR},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR},
      #{bioexamId,jdbcType=INTEGER}, #{patientCaseId,jdbcType=VARCHAR}, #{patientId,jdbcType=INTEGER},
      #{file,jdbcType=VARCHAR}, #{isGenMutationInfo,jdbcType=INTEGER}, #{sampleCollectionFlg,jdbcType=INTEGER},
      #{projectResults,jdbcType=LONGVARCHAR}, #{remarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gyenno.ruiyun.datamigration.model.patient.PatientBioexam">
    insert into tc_patient_bioexam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="checkDate != null">
        CHECK_DATE,
      </if>
      <if test="bloodCode != null">
        BLOOD_CODE,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateName != null">
        UPDATE_NAME,
      </if>
      <if test="bioexamId != null">
        BIOEXAM_ID,
      </if>
      <if test="patientCaseId != null">
        PATIENT_CASE_ID,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="file != null">
        file,
      </if>
      <if test="isGenMutationInfo != null">
        is_gen_mutation_info,
      </if>
      <if test="sampleCollectionFlg != null">
        sample_collection_flg,
      </if>
      <if test="projectResults != null">
        PROJECT_RESULTS,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bloodCode != null">
        #{bloodCode,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="bioexamId != null">
        #{bioexamId,jdbcType=INTEGER},
      </if>
      <if test="patientCaseId != null">
        #{patientCaseId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="file != null">
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="isGenMutationInfo != null">
        #{isGenMutationInfo,jdbcType=INTEGER},
      </if>
      <if test="sampleCollectionFlg != null">
        #{sampleCollectionFlg,jdbcType=INTEGER},
      </if>
      <if test="projectResults != null">
        #{projectResults,jdbcType=LONGVARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>
